* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    font-family: 'Fredoka', sans-serif;
    font-weight: 300;
}


h1 {
    color: #E53170;
    padding: 2rem 0 2rem;
}

p {
    font-size: 1.2rem;
}

header,
.container {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 3rem;
}

section p {
    font-weight: 600;
    color: white;
    padding: 3px;
}

:nth-child(3) {
    font-weight: 300;
    font-size: 1rem;
}


a {
    text-decoration: none;
    color: #6ECBF2;
    font-weight: 300;
}

main section img {
    height: 5rem;
}


.float-left {
    float: left;
    margin: 0 15px 0 0;
}

.card {
    background-color: #0d0d0d;
    text-align: left;
    float: left;
    width: calc((100% / 3) - 20px);
    margin: 10px 10px 30px 10px;
    box-shadow: 0 5px 20px rgba(28, 27, 27, 0.5);
}